body {
	margin: 0;
	padding: 0;
}
#headDiv {
	text-align: center;
	background-color: rgb(5, 5, 94);
	color: white;
	padding: 15px;
	font-size: 20px;
}
.inputDiv {
	display: flex;
	justify-content: center;
	margin: auto;
}
input[type="text"] {
	height: 30px;
	font-size: 15px;
	border-radius: 5px;
}
#requiredNumber {
	padding: 8px;
	width: 2rem;
	border-radius: 5px;
}
.btn {
	padding: 8px;
	border-radius: 5px;
}
.container {
	margin-top: 5%;
}
#searchResult {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
}
#searchResult div {
	line-height: 10em;
}
img {
	width: 40em;
	height: 30em;
	border-radius: 2em;
}
